@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;1,200;1,400&family=Crimson+Text:wght@600&family=Dancing+Script:wght@600&family=Roboto&display=swap');
*{
    font-family: 'Crimson Text', serif;
}
#h1{
     background-color:darkcyan;
     color:whitesmoke;
     font-size: xx-large;
}
#h2{
    background-color: darkred;
    color: bisque;
    font-size: x-large;
}
#h3{
    background-color: darkgoldenrod;
    color: lightsalmon;
    font-size:larger;
}
#h4{
    background-color: lightseagreen;
    color:black;
    font-size: medium;
}
#h5{
    background-color: darkviolet;
    color:tan;
    font-size: small;
}
#h6{
    background-color:deeppink;
    color: bisque;
    font-size: x-small;
}