*{
    background-color: rgb(226,38,53);
}
@media screen and (min-width:1021px) and (max-width:1740px){
    h1{
        color:azure;
        font-size: 8ch;
        align-content: center;
        margin-left: 300px;
        padding: 20px;
    
    
    }
    .container{
        display:flex;
        justify-content:space-evenly;
        flex-wrap:inherit;
        flex-shrink:  initial;
    }
    img{
        border-style:groove;
        border-color: black;
        size-adjust: 10%;
        width:300px;
        height:400px;
     color: wheat;
    }
    h2{
        font-weight: bold;
        margin-left: auto;
        color: wheat;
        font-size: larger;
    }
    h3{
        font-weight: bold;
        margin-left: auto;
        color: wheat;
        font-size: larger;
    }
    h4{
        font-weight: bold;
        margin-left: auto;
        color: wheat;
        font-size: larger;
    }
    }
@media screen and (min-width:769px) and (max-width:1020px){
h1{
    color:azure;
    font-size: 8ch;
    align-content: center;
    margin-left: 300px;
    padding: 20px;


}
.container{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:inherit;
    flex-shrink:  initial;
}
img{
    border-style:groove;
    border-color: black;
    size-adjust: 10%;
    width:300px;
    height:400px;
 color: wheat;
}
h2{
    font-weight: bold;
    margin-left: auto;
    color: wheat;
    font-size: larger;
}
h3{
    font-weight: bold;
    margin-left: auto;
    color: wheat;
    font-size: larger;
}
h4{
    font-weight: bold;
    margin-left: auto;
    color: wheat;
    font-size: larger;
}
}
@media screen and (min-width:481px) and (max-width:768px){
    h1{
        color:azure;
        font-size: 8ch;
        align-content: center;
        margin-left: 300px;
        padding: 20px;
    
    
    }
    .container{
        display:flex;
        justify-content:space-evenly;
        flex-wrap:inherit;
        flex-shrink:  initial;
    }
    img{
        border-style:groove;
        border-color: black;
        size-adjust: 10%;
        width:300px;
        height:400px;
     color: wheat;
    }
    h2{
        font-weight: bold;
        margin-left: auto;
        color: wheat;
        font-size: larger;
    }
    h3{
        font-weight: bold;
        margin-left: auto;
        color: wheat;
        font-size: larger;
    }
    h4{
        font-weight: bold;
        margin-left: auto;
        color: wheat;
        font-size: larger;
    }
    }
