*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color:rgb(109,151,115);
}
@media screen and (min-width:1025px) and (max-width:1740px){
.container{
    position:absolute;
    float:right;
    margin-left:800px;
    margin-top: 150px;

}
h1{
    font-size:8ch;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    word-spacing: 8px  ;
    color: whitesmoke;
}
p{
    font-size: 3ch;
    margin-top: 300px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: whitesmoke;
    
}
img{
    float: left;
    height: 20%;
    width:50%;
}
}
@media screen and (min-width:769px) and (max-width:1024px){
    .container{
        position:absolute;
        float:right;
        margin-left:800px;
        margin-top: 150px;
    
    }
    h1{
        font-size:8ch;
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
        word-spacing: 8px  ;
        color: whitesmoke;
    }
    p{
        font-size: 3ch;
        margin-top: 300px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 900;
        color: whitesmoke;
        
    }
    img{
        float: left;
        height: 20%;
        width:50%;
    }
    }
    @media screen and (min-width:481px) and (max-width:768px){
        .container{
            position:absolute;
            float:right;
            margin-left:800px;
            margin-top: 150px;
        
        }
        h1{
            font-size:8ch;
            font-weight: bold;
            font-family:Arial, Helvetica, sans-serif;
            word-spacing: 8px  ;
            color: whitesmoke;
        }
        p{
            font-size: 3ch;
            margin-top: 300px;
            font-family:Arial, Helvetica, sans-serif;
            font-weight: 900;
            color: whitesmoke;
            
        }
        img{
            float: left;
            height: 20%;
            width:50%;
        }
        }
        @media screen and (min-width:320px) and (max-width:480px){
            .container{
                position:absolute;
                float:right;
                margin-left:800px;
                margin-top: 150px;
            
            }
            h1{
                font-size:8ch;
                font-weight: bold;
                font-family:Arial, Helvetica, sans-serif;
                word-spacing: 8px  ;
                color: whitesmoke;
            }
            p{
                font-size: 3ch;
                margin-top: 300px;
                font-family:Arial, Helvetica, sans-serif;
                font-weight: 900;
                color: whitesmoke;
                
            }
            img{
                float: left;
                height: 20%;
                width:50%;
            }
            }