@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;1,200;1,400&family=Bebas+Neue&family=Crimson+Text:wght@600&family=Dancing+Script:wght@600&family=Roboto&display=swap');
*{
    font-family: 'Asap', sans-serif;
}
#h1{
    color:crimson ;
    background-color: blanchedalmond;
    font-size: larger;
}
img{
    width:80%;
    height:min-content;
    border: 100px;
    padding: 1px;
}

#dm{
    background-color: midnightblue;
    color: mintcream;
    font-style: inherit;
    font-weight:300;
    font-size: medium;
}